* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration:none; }
.css-mf1cb5-MuiButtonBase-root-MuiIconButton-root{
    color:#CBB780FF;
}
.css-vj1n65-MuiGrid-root {
    margin-top: 20px;
}
.show_data{
    border:solid;
    border-radius:10px;
    border-color:black;
    background-color: lightgray !important;
}
.back{
    color:#CBB780FF;
    background-color: black !important;
    border:solid;
    border-color: white;
    border-radius: 20px;

}
.css-1vooibu-MuiSvgIcon-root{
    color:#CBB780FF;
    
}
.our_cart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: 100%;
}
.Tags_itemss{
text-align:center;
margin-bottom: 20px;
display: inline;
margin-left: 20%;

position: relative;
top: -45px;
}
.css-5ibs0b-MuiBadge-badge {
    min-width: 92px !important;
    padding: 0 0px !important;
    height: 30px !important;
}
.reactEasyCrop_Container{
    margin-top: 30px !important;
}
.MuiBox-root css-14ofx3b{
    background-color:#CBB780FF;
}
.MuiBox-root css-tx26vy{
    background-color:#CBB780FF;
}
.upload_img{
    padding: 8px 20px;
    background: #CBB780FF;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
.userimg{
    position: static;
}

@media screen and (max-width:1300px) {
    .our_cart{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        width: 100%;
    }
}

@media screen and (max-width:992px) {
    .our_cart{
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 30px;
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .our_cart{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 100%;
    }
}